extends base.pug

block scripts
  script(src = "../static/index.js")

block style 
    link(rel='stylesheet' href='../static/style.css')


block content 
    

    section#aboutSection
        div
            h2 We provide services related to dances, including both Indian and Western styles. We provide personalised coaching and regular workshops. Some of our alumni have gone on to pursue careers as professional dancers in the film industry. We look forward to helping you!

    


    


