doctype html
html
  head
    title Dance Academy
    block scripts
    block style
  body
    nav#navbar.top
        ul
            
           
            #logo
                a(href = '/') 
                    img(src='../static/logo.png' )
                | DDA


            li
                a(href='/') Home
            li
                a(href='/about') About
            li
                a(href='/contact') Contact Us
    block content
    block foot
      