extends base.pug

block scripts
  script(src = "../static/index.js")

block style 
    link(rel='stylesheet' href='../static/style.css')
    link(rel='stylesheet' href='../static/styleContact.css')

block content 
    div(id = "container")
        h1 Your response has been recorded
        
        



block foot 
    footer#footer.
  
        Copyright © 2022 DeeproDanceAcademy.com | All rights reserved